<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fizzy - Info</title>
    <link rel="stylesheet" href="Styles/style.css" type="text/css">
</head>

<body>
    <center>
        <h1>Email: <%= userSchema.email %>
        </h1>
        <h1>Premium: <%= userSchema.premium %>
        </h1>
        <h1>URLs: <%= userSchema.urls %>
        </h1>
        <table>
            <tr>
                <th>Long URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
                <th>Date Created</th>
            </tr>
            <% fizzylink.forEach((fizzy)=> { %>
                <tr>
                    <td><a href="<%= fizzy.longURL %>">
                            <%= fizzy.longURL %>
                        </a></td>
                    <td><a href="<%= fizzy.shortURL %>">
                            <%= fizzy.shortURL %>
                        </a></td>
                    <td>
                        <%= fizzy.clicks %>
                    </td>
                    <td>
                        <%= fizzy.date %>
                    </td>
                </tr>
                <% }); %>
        </table>
    </center>
</body>

</html>