<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fizzy - Link</title>
</head>

<body>
    <center>
        <form action="/fizzylink" method="post">
            <label for="link">Link</label>
            <input type="url" id="link" name="link" />
            <button type="submit">Fizz it!</button>
        </form>
        <br>
        <br>
        <table>
            <tr>
                <th>Long URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
            <% fizzylink.forEach(fizzy=> { %>
                <tr>
                    <td><a href="<%= fizzy.data.longURL %>">
                            <%= fizzy.data.longURL %>
                        </a></td>
                    <td><a href="<%= fizzy.data.shortURL %>">
                            <%= fizzy.data.shortURL %>
                        </a></td>
                    <td>
                        <%= fizzy.data.clicks %>
                    </td>
                </tr>
                <% }); %>
        </table>
    </center>
</body>

</html>