<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nano</title>
</head>

<body>
    <center>
        <img id="avatar" src="" alt="" />
        <h1 id="id">ID:</h1>
        <h1 id="name">Name:</h1>
        <h1 id="email">Email:</h1>
        <form action="/nanolink" method="post">
            <label for="link">Link</label>
            <input type="url" id="link" name="link" />
            <button type="submit">Nano it!</button>
        </form>
        <br>
        <br>
        <table>
            <tr>
                <th>Link</th>
                <th>Nano link</th>
                <th>Clicks</th>
            </tr>
            <% nanolinks.forEach(nano=> { %>
                <tr>
                    <td><a href="<%= nano.link %>">
                            <%= nano.link %>
                        </a></td>
                    <td><a href="<%= nano.nanolink %>">
                            <%= nano.nanolink %>
                        </a></td>
                    <td>
                        <%= nano.clicks %>
                    </td>
                </tr>
                <% }); %>
        </table>
    </center>
</body>

</html>